@tailwind base;
@tailwind components;
@tailwind utilities;


.instagramGradient {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #e1306c);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .images {
    width: 100%;
    height: auto;
}
.my-masonry-grid {
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div {/*changedivtoreferenceyourelementsyouputin<Masonry>*/
    margin-bottom: 20px;
}