@tailwind base;
@tailwind components;
@tailwind utilities;


.instagramGradient {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #e1306c);
    -webkit-background-clip: text;
    color: transparent;
  }
  